
<% include header %>


<nav class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <section class="container">
      <a class="brand" href="https://github.com/ajschumacher/kickswatch">kickswatch</a>
    </section>
  </nav>
</nav>

<section class="container demo">
  <article class"row">
    <h3><%= smile %></h3>
  </article>
</section>

  <div class="row">
    <div class="span6">
    </div>
    <div class="span6">
      <blockquote class="pull-right">
        <p>[
          <a href="http://twitter.github.io/bootstrap/">boot</a>
          |
          <a href="http://getkickstrap.com/">kick</a>
          ] [
          <a title="style guide" href="http://bootswatch.com/readable/">strap</a>
          |
          <a href="http://bootswatch.com/">swatch</a>
          ]
        </p>
      </blockquote>
    </div>
  </div>


<script>
  afterReady = function() {
    // stuff goes here
  };
</script>


<% include footer %>
