
<% include header %>


<nav class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <section class="container">
      <a class="brand" href="https://github.com/ajschumacher/kickswatch">kickswatch</a>
    </section>
  </nav>
</nav>

<section class="container demo">
  <article class"row">
    <h3>
      <a href="http://omnipotent.net/jquery.sparkline/">
        <span class="inlinesparkline">
          10,9,8,6,0,0,3,6,10,6,3,0,0,10,10,10,10,0,0,3,6,10,6,3,0
        </span>
      </a>
    </h3>
    <h3>
      <%= sentinfo %>
    </h3>
    <div><a href="http://d3js.org/" id="d3home">
    </a></div>
  </article>
</section>


  <div class="row">
    <div class="span6">
    </div>
    <div class="span6">
      <blockquote class="pull-right">
        <p>[
          <a href="http://twitter.github.io/bootstrap/">boot</a>
          |
          <a href="http://getkickstrap.com/">kick</a>
          ] [
          <a title="style guide" href="http://bootswatch.com/readable/">strap</a>
          |
          <a href="http://bootswatch.com/">swatch</a>
          ]
        </p>
      </blockquote>
    </div>
  </div>
</section>

<script>
  afterReady = function() {
    // stuff goes here
    $('.inlinesparkline').sparkline();
    d3.select('#d3home').selectAll("p")
      .data(["d3"])
      .enter().append("h3")
        .text(function(d) {return "now with " + d});
  };
</script>


<% include footer %>
