
<% include header %>


<nav class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <section class="container">
      <a class="brand" href="http://www.openinggovernment.org/">kickswatch</a>
    </section>
  </nav>
</nav>

<section class="container demo">
  <article class"row">
    <h3><%= demo %></h3>
  </article>
</section>

  <div class="row">
    <div class="span6">
    </div>
    <div class="span6">
      <blockquote class="pull-right">
        <p>[<a href="http://twitter.github.io/bootstrap/">boot</a>|<a href="http://getkickstrap.com/">kick</a>][<a title="style guide" href="http://bootswatch.com/readable/">strap</a>|<a href="http://bootswatch.com/">swatch</a>]</a></p>
      </blockquote>
    </div>
  </div>


<% include footer %>
